name: Generate Pac-Man Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *" 
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Pac-Man graph
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: igorVargas27
